body {
    margin: 0px;
    padding: 0px;
}

button {
    background-color: lightgreen;
    font-weight: bold;
}

input {
    margin-left: 1vw;
    padding-left: 1vw;
}

.wholepage {
    width: 100vw;
    height: 100vh;
}

.headpage {
    background-color: aquamarine;
    width: 100vw;
    min-width: 800px;
    height: 5vw;
    min-height: 50px;
    vertical-align: middle;
}

.bodypage {
    width: 100vw;
    min-width: 800px;
    padding-bottom: 1px;
}

.todogenie-title-logo {
    background-color: green;
    width: 36vw;
    min-width: 360px;
    height: 9vw;
    min-height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    margin-bottom: 5vh;
}

.margin-1vh {
    margin: 1vh;
}

.margin-1vw {
    margin: 1vw;
}

.margin-05vw {
    margin: 0.5vw;
}

.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.flex-row {
    display: flex;
    width: 100%;
}

.flex-cell-5 {
    flex: 5;
}

.flex-cell-1 {
    flex: 1;
}

.floating-right {
    float: right;
}

.circle {
    width: 3vw;
    min-width: 30px;
    height: 3vw;
    min-height: 30px;
    border-radius: 50%;
    font-weight: bold;
}

.circle-small {
    width: 2vw;
    min-width: 20px;
    height: 2vw;
    min-height: 20px;
    border-radius: 50%;
    font-weight: bold;
}

.rectangle-10-1 {
    width: 30vw;
    min-width: 300px;
    height: 3vw;
    min-height: 30px;
    border-radius: 5% / 50%;
    font-size: 1vw;
}

.rectangle-small-10-1 {
    width: 20vw;
    min-width: 200px;
    height: 2vw;
    min-height: 20px;
    border-radius: 5% / 50%;
    font-size: 0.66vw;
}

.rectangle-8-1 {
    width: 24vw;
    min-width: 240px;
    height: 3vw;
    min-height: 30px;
    border-radius: 6.25% / 50%;
    font-size: 1vw;
}

.rectangle-4-1 {
    width: 12vw;
    min-width: 120px;
    height: 3vw;
    min-height: 30px;
    border-radius: 12.5% / 50%;
    font-size: 1vw;
}

.rectangle-small-4-1 {
    width: 8vw;
    min-width: 80px;
    height: 2vw;
    min-height: 20px;
    border-radius: 12.5% / 50%;
    font-size: 0.66vw;
}

.rectangle-2-1 {
    width: 6vw;
    min-width: 60px;
    height: 3vw;
    min-height: 30px;
    border-radius: 25% / 50%;
    font-size: 1vw;
}

.rectangle-small-2-1 {
    width: 4vw;
    min-width: 40px;
    height: 2vw;
    min-height: 20px;
    border-radius: 25% / 50%;
    font-size: 0.66vw;
}

.db-head {
    width: 98vw;
    min-width: 784px;
    border: 1px solid black;
    margin: 1%;
    text-align: center;
    vertical-align: middle;
    display: flex;
}

.dailyboarditem {
    width: 96vw;
    min-width: 768px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 0.96vw;
    margin: 1%;
    padding: 1%;
}

.dbi-text-space {
    width: 50%;
    vertical-align: middle;
}

.dbi-title {
    padding-left: 1vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dbi-time {
    padding-right: 1vw;
    text-align: right;
}

.wb-head {
    width: 98vw;
    min-width: 784px;
    margin-top: 0.5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    display: flex;
}

.wb-body {
    width: 98vw;
    min-width: 784px;
    margin: 0.5% 1%;
    display: flex;
}

.wb-column {
    width: 14vw;
    min-width: 112px;
    border: 1px solid black;
    flex: 1;
}

.wb-column-head {
    width: 14vw;
    min-width: 112px;
    margin-bottom: 0.8vw;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 1.5vw;
}

.weeklyboarditem {
    width: 12vw;
    min-width: 96px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 0.96vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vw; 
    padding: 0.5%;
}

.wbi-text-space {
    vertical-align: middle;
}

.wbi-title {
    margin-top: 2px;
    margin-bottom: 6px;
    padding-left: 1vw;
    width: 10vw;
    min-width: 80px;
    font-size: 1.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wbi-time {
    margin-top: 2px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1vw;
}

.mb-head {
    width: 98vw;
    min-width: 784px;
    margin-top: 0.5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    display: flex;
}

.mb-body {
    width: 98vw;
    min-width: 784px;
    margin: 0.5% 1%;
}

.mb-row {
    width: 98vw;
    min-width: 784px;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.mb-cell {
    flex: 1;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 14vw;
    min-width: 112px;
    min-height: 8vh;
}

.mb-cell-head {
    width: 14vw;
    min-width: 112px;
    border-bottom: 1px solid black;
    margin-bottom: 0.8vw;
}

.monthlyboarditem {
    width: 12vw;
    min-width: 96px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 0.96vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vw; 
    padding: 0.5% 0.5% 5% 0.5%; 
}

.mbi-text-space {
    vertical-align: middle;
}

.mbi-title {
    margin-top: 2px;
    margin-bottom: 6px;
    padding-left: 1vw;
    width: 10vw;
    min-width: 80px;
    font-size: 1.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mbi-time {
    margin-top: 2px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 1vw;
}

.state_done {
    background-color: lightgreen;
    float: left;
}

.state_notyet {
    background-color: #ff6666;
    float: left;
}